*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	background-color:#F8FAFC;
	font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
nav{
	height:70px;
	background-color:white;
	display:inline-block;
	vertical-align:top;
	width:100%;
}
.displayvertical{
	display:inline-block;
	vertical-align:top;
}
 
.img{
	width:3.5%;
	margin:10px 0px 0px 20px ;
	
}
.span{
	margin:22px 0px 0px 10px ;
	font-size:19px;
	
}
.span1{
	margin:22px 0px 0px 18% ;
	color:#4C5363; 
}
.span2{
	margin:22px 0px 0px 2% ;
	color:#4C5363; 
}
.span3{
	margin:4px 0px 0px 16% ;
	color:#4C5363; 
}
.btn-grad {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
}

.btn-grad {
  margin: 10px;
  padding: 12px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.div{
   width:96%;
   height:50px;
   margin:10px 0px 0px 25px ;
   background-color:#FFF9E8;
   border-radius:10px;
   border:3px solid #F3EFDE;
}
.div1{
	width:6%;
    margin:12px 0px 0px 10px;
	font-size:12px;
	padding:2px;
	color:#6B7280;
	text-align:center;
	border-radius:5px;
	border:1px solid #E5E7EB;
    
}
.img1{
	width:50%;
	margin:12px 0px 0px 5px ;
	background-color:#FFF9E8;
	
}
.img2{
	background-color:#FFF9E8;
	
}
.img3{
	background-color:#FFF9E8;
	margin-top:15px;
}
.img4{
	background-color:#FFF9E8;
	margin-top:15px;
	color:#6B7280;
	font-size:13px;
	
}
.div2{
	width:4%;
    margin:8px 0px 0px 17%;
	font-size:12px;
	padding:7px;
	text-align:center;
	border-radius:8px;
	border:1px solid #E5E7EB;
	background-color:#FFFFFF;
    
}
.h2{
    text-align:center;
	margin-top:3%;
}
.p1{
    text-align:center;
	margin-top:1%;
	color:#6B7280;
}
.p2{
    text-align:right;
	margin:5% 40px 0px 0px;
	font-size:14px;
	
}
.box{
	margin:10px 0px 0px 2%;
	 width:23%;
	 height:260px;
	background-color:#FFFFFF; 
	border-radius:10px;
	border:1px solid #E5EAF0;
}
.span4{
	margin:20px 0px 0px 5%;
	 
}
.span5{
	margin:20px 0px 0px 48%;
	 
}
.span6{
	margin:20px 0px 0px 3%;
	 
}
.span7{
	margin:20px 0px 0px 54%;
	 
}

.span9{
	margin:20px 0px 0px 35%;
	 
}
 
.box1{
	margin:20px 0px 0px 5%;
	 width:90%;
	 height:140px;
	background-color:#F4F7FA;
	border-radius:10px;
	border:1px solid #E5EAF0;
}
.div3{
	margin:20px 0px 0px 5%;
	width:30%;
	height:28px;
	background-color:#FFFFFF;
	border-radius:5px;
	border:1px solid #E5EAF0;
	text-align:center;
	font-size:12px;
}
.b1{
	margin:8px 0px 0px 0px;
	 color:#334155;
}
.div4{
	margin:20px 0px 0px 25%;
	width:30%;
	height:28px;
	background-color:#FFFFFF;
	border-radius:5px;
	border:1px solid #E5EAF0;
	text-align:center;
	font-size:12px;
}
.btn{
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
}

.btn{
  margin:40px 0px 0px 48px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.a1 {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
}

.a1{
  margin:40px 0px 0px 48px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.a1:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.a2 {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
}

.a2 {
   margin:40px 0px 0px 48px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.a2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.a3 {
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
}

.a3 {
   margin:40px 0px 0px 48px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.a3 {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.box2{
	margin:10px 0px 0px 1%;
	 width:23%;
	 height:260px;
	background-color:#FFFFFF; 
	border-radius:10px;
	border:1px solid #E5EAF0;
}